{% extends "layout.html" %}


{% block body %}

{% for category, msg in get_flashed_messages(True) %}
<div class="alert alert-{{category}} alert-dismissible fade show text-center" role="alert">
  <button type="button" class="btn-close text-end" data-bs-dismiss="alert" aria-label="Close"></button>
  {{ msg }}
</div>
{% endfor %}

<form action="/register" method="post">

      {{ form.hidden_tag() }}

      {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
      <p>{{ field.label() }}
        {% if field.errors %}
          {{ field(class="form-control is-invalid") }}
        <span class="invalid-feedback">
          {% for e in field.errors %}
          {{ e }}
          {% endfor %}
        </span>
        {% else %}
        {{ field(class="form-control") }}
        {% endif %}
        {% endfor %}

    <p>{{ form.submit() }}
    </form>


   
<!--         <form action="/register" method="post">
        
        <div class="mb-3">
          <label for="Name" class="form-label">Имя: </label>
          <input type="text" class="form-control" id="Mane" name="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email: </label>
          <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="mb-3">
            <label for="Password" class="form-label">Пароль: </label>
            <input type="password" class="form-control" id="Password" name="psw">
        </div>
        <div class="mb-3">
            <label for="Password2" class="form-label">Повтор пароля: </label>
            <input type="password" class="form-control" id="Password2" name="psw2">
        </div>
        <button type="submit" class="btn btn-primary">Войти</button>
        </form> -->
    
    </div>
    </div>
    </div>

{% endblock %}